<div id="inner-page">
<div id="top-nav-res-inner"> 
  <img src="../assets/images/gainz-logo-res-inner.jpg" />
  <div class="res-btn"><a href="#sub-footer"><img style="float:right; margin:20px 20px 0 0;" src="../assets/images/menu-responsive-btn.jpg" /></a></div>
  <ul>
        <li><a href="/">home</a></li>
      <!--<li><a href="about.php">about us</a></li>-->
        <li><a href="/product">product</a></li>
        <!--<li><a href="news.php">news</a></li>-->
        <li><a href="/#authenticity">authenticity</a></li>
        <!--<li><a href="dealer.php">dealer</a></li>-->
       
                       
    </ul>
</div>



    <div class="container-left">
  <a href="/"><img src="../assets/images/logo-inner.jpg" /></a>
  <ul class="menu-inner">
       <li><a href="/">home</a></li>
      <!--<li><a href="about.php">about us</a></li>-->
        <li><a href="/product">product</a></li>
        <!--<li><a href="news.php">news</a></li>-->
        <li><a href="/#authenticity">authenticity</a></li>
      
       
    </ul>
</div>
    <div class="container-right">
       <div id="top-redline"></div>
       <div id="inner-content">
              <div class="head-subject1">
                <h1>Injection Steroid</h1>
               
            <ul class="kind-steroid">
              <li><a href="/injection">injection Steroid</a></li>
                <li class="seperation">|</li>
                <li><a href="/oral">Oral Steroid</a></li>
                <li class="seperation">|</li>
                <li><a href="/peptide">Peptide</a></li>
            </ul>
               </div>
            <div class="content-box">
                <div class="product-box">
                    <img src="../assets/images/WINNY-100.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>WINNY-100</h1><span>Super micronized Stanozolol</span><br style="clear:both;" />
                        <p>Promotes a hard and dry look. Increases vascularity, strength and pump. Great for competition. No liver toxicity.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">100 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">A white aqueous solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">     Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">100 mg EOD.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt TREN A-100 ---->
                <div class="product-box">
                    <img src="../assets/images/TREN-A-100.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>TREN A-100</h1><span>Trenbolone acetate</span><br style="clear:both;" />
                        <p>Short-acting trenbolone ester. Explosive high quality mass & strength gains. Accelerate fat loss. One of the most powerful steroids available.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">100 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     100 mg EOD.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt EQ-300 ---->
                <div class="product-box">
                    <img src="../assets/images/EQ-300.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>EQ-300</h1><span>Boldenone undecylenate</span><br style="clear:both;" />
                        <p>Increases appetite. Highly anabolic. Enhances perpetual pump & pronounces vasolidation effect.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">300 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     300 mg - 900 mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt DECA-300 ---->
                <div class="product-box">
                    <img src="../assets/images/DECA-300.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>DECA-300</h1><span>Nandrolone decanoate</span><br style="clear:both;" />
                        <p>Great mass and weight gain. No cosmetic side effects. Free of androgenic side effects. Comforts joints. Highly anabolic.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">300 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     300 mg - 600 mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt TEST P-100 ---->
                <div class="product-box">
                    <img src="../assets/images/TEST-P-100.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>TEST P-100</h1><span>Testosterone propionate</span><br style="clear:both;" />
                        <p>Fast-acting testosterone ester. Great for strength and mass. Perfect for beginner, natural hormone.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">100 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     200 mg EOD. mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt SUSTANON-300 ---->
                <div class="product-box">
                    <img src="../assets/images/SUSTANON-300.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>SUSTANON-300</h1><span>Testosterone blend</span><br style="clear:both;" />
                        <p>Massive strength & weight gain. Great testosterone mix for peak blood levels.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">300 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     300 mg -900 mg/week. mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt TEST E-300 ---->
                <div class="product-box">
                    <img src="../assets/images/TEST-E-300.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>TEST E-300</h1><span>Testosterone enanthate</span><br style="clear:both;" />
                        <p>Long-acting testosterone ester, natural hormone provides solid muscle and strength gains, good beginner steroid.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">300 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     600 mg -900 mg/week. mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt PRIMO-100 ---->
                <div class="product-box">
                    <img src="../assets/images/primo100.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>PRIMO-100</h1><span>Methenolone enanthate</span><br style="clear:both;" />
                        <p>Low aromatization, very safe to use, great during cutting diet to prevent muscle mass, perfect for bridging between steroid cycles, no liver toxicity.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">100 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">     200 mg -600 mg/week.</td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt MAST P-100 ---->
                <div class="product-box">
                    <img src="../assets/images/MAST-P-100.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>MAST P-100</h1><span>Drostanolone propionate</span><br style="clear:both;" />
                        <p>Short-acting drostanolone ester known for its hardening effect and synergy with testosterone. Highly androgenic. Supports the central nervous system.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">100 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">100 mg EOD. </td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt TREN E-200 ---->
                <div class="product-box">
                    <img src="../assets/images/TREN-E-200.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>TREN E-200</h1><span>Trenbolone enanthate</span><br style="clear:both;" />
                        <p>Long-acting trenbolone ester. Highly anabolic & androgenic. Explosive gains and change in body composition. Burns fat and increase metabolism.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">200 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">400 mg -600 mg/week. </td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
                <!-- end Product-->

                <!--- Produt TREN CYP300 ---->
                <div class="product-box">
                    <img src="../assets/images/CYP300.jpg"  class="product-thump-img"/>
                    <div class="info-section">
                        <h1>CYP-300</h1><span>Testosterone cypionate</span><br style="clear:both;" />
                        <p>Long-acting testosterone ester, natural hormone provides solid muscle and strength gains, good beginner steroid.</p>
                        <div class="performance-infograph">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="performance-subject">Strength : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Muscle Gain : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Fat/Water Loss : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Side Effects : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="performance-subject">Keep Gains : </td>
                                        <td class="performance-star">
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performanceR"></div>
                                            <div class="star-performance"></div>
                                            <div class="star-performance"></div>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dose-info-box">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="dose-subject">Potency : </td>
                                        <td class="dose-info">300 mg/ml.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Appearance  : </td>
                                        <td class="dose-info">Oil based solution.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Packing  : </td>
                                        <td class="dose-info">Supplied in a clear 10ml glass vial with white flip-off cap & labeled box.</td>
                                      </tr>
                                    <tr>
                                        <td class="dose-subject">Dosage  : </td>
                                        <td class="dose-info">600 mg -900 mg/week. </td>
                                      </tr>
                                </tbody>
                            </table>

                        </div>
                     </div>
                </div>
            </div>
       </div>
           <div id="sub-footer">
   <div class="pagewarp">
      <div class="box-25percent" id="injecton-steroid-menu">
          <ul><h1>Injection steroid</h1>
              <li><a href="/injection">WINNY-100</a></li>
                <li><a href="/injection">TREN A-100</a></li>
                <li><a href="/injection">EQ-300</a></li>
                <li><a href="/injection">DECA-300</a></li>
                <li><a href="/injection">TEST P-100</a></li>
                <li><a href="/injection">SUSTANON-300</a></li>
                <li><a href="/injection">TEST E-300</a></li>
                <li><a href="/injection">PRIMO-100</a></li>
                <li><a href="/injection">MAST P-100</a></li>
                <li><a href="/injection">TREN E-200</a></li>
                <li><a href="/injection">CYP-300</a></li>
            </ul>
        </div>
        <div class="box-25percent" id="oral-steroid-menu">
          <ul><h1>Oral steroid</h1>
              <li><a href="/oral">OXAN-10</a></li>
                <li><a href="/oral">STANO-10</a></li>
                <li><a href="/oral">CLEN-40</a></li>
                <li><a href="/oral">DBOL-10</a></li>
                <li><a href="/oral">OXY-50</a></li>
                <li><a href="/oral">CYTOMEL</a></li>
            </ul>
        </div>
        <div class="box-25percent" id="peptide-menu">
          <ul><h1>Peptide</h1>
              <li><a href="/peptide">HGH</a></li>
                <li><a href="/peptide">GHRP-6</a></li>
                <li><a href="/peptide">IGF-1</a></li>
                <li><a href="/peptide">CJC</a></li>
                <li><a href="/peptide">MGF</a></li>                   
            </ul>
        </div>
        <div class="box-25percent" id="bottom-menu">
          <ul>
              <li ><a class="main-menu" href="/">Home Pages</a></li>
              <li ><a class="main-menu" href="labstest.php">Labs test </a></li>
                <!--<li ><a class="main-menu" href="news.php">News</a></li>-->
                <li ><a class="main-menu" href="/product">Product</a></li>
                <li ><a class="main-menu" href="/#authenticity">Authenticity</a></li>
                <!--<li ><a class="main-menu" href="dealer.php">Dealer</a></li> 
                <li ><a class="main-menu" href="about.php">About us</a></li>    -->
                <li> <a class="main-menu" href="#">contact</a>               
            </ul>
        </div>
    </div>
</div>               <div id="footer"> © Copyright gainzlab.com, 2017</div>        </div></div>