<div id="inner-page">
  <div id="top-nav-res-inner"> 
<img src="../assets/images/gainz-logo-res-inner.jpg" />
<div class="res-btn"><a href="#sub-footer"><img style="float:right; margin:20px 20px 0 0;" src="../assets/images/menu-responsive-btn.jpg" /></a></div>
<ul>
      <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>
      <!--<li><a href="dealer.php">dealer</a></li>-->
     
                     
  </ul>
</div>



  <div class="container-left">
<a href="/"><img src="../assets/images/logo-inner.jpg" /></a>
<ul class="menu-inner">
     <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>
    
     
  </ul>
</div>
  <div class="container-right">
     <div id="top-redline"></div>
     <div id="inner-content">
            <div class="head-subject1">
              <h1>Oral Steroid</h1>
             
          <ul class="kind-steroid">
            <li><a href="/injection">injection Steroid</a></li>
              <li class="seperation">|</li>
              <li><a href="/oral">Oral Steroid</a></li>
              <li class="seperation">|</li>
              <li><a href="/peptide">Peptide</a></li>
          </ul>
             </div>
          <div class="content-box">
              <!--- Produt OXAN-10 ---->
              <div class="product-box">
                  <img src="../assets/images/oxan-10.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>OXAN-10</h1><span>Oxandrolone</span><br style="clear:both;" />
                      <p>Low liver toxicity & side effects. Promotes great strength gains and solid lean mass gains. Perfect for beginner.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">10 mg /tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">White flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">     50 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">20 mg - 50 mg /day.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt STANO-10 ---->
              <div class="product-box">
                  <img src="../assets/images/stano-10.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>STANO-10</h1><span>Stanozolol</span><br style="clear:both;" />
                      <p>Promotes a hard and dry look. Increases vascularity, strength and pump. Great for competition.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">10 mg /tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">Yellow flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">100 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">20 mg - 50 mg /day.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt CLEN-40 ---->
              <div class="product-box">
                  <img src="../assets/images/clen-40.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>CLEN-40</h1><span>Clenbuterol hcl</span><br style="clear:both;" />
                      <p>Very effective fat loss stimulant with anti-catabolic properties.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">40 mcg/tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">White flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">100 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">40 mcg - 160 mcg/day using a pyramid approach.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt DBOL-10 ---->
              <div class="product-box">
                  <img src="../assets/images/dbol-10.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>DBOL-10</h1><span>Methandienone</span><br style="clear:both;" />
                      <p>Quick strength and weight gain. Great pump. One of the most popular steroids in the world.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">10 mg /tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">Blue flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">100 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">     30 mg-50 mg/day</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt OXY-50 ---->
              <div class="product-box">
                  <img src="../assets/images/oxy-50.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>OXY-50</h1><span>Oxymetholone</span><br style="clear:both;" />
                      <p>Massive strength and weight gain. Soothes joint problems. Great pump, highly androgenic & highly anabolic.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">50 mg /tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">Green flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">100 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">     50 mg - 100 mg /day.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt CYTOMEL ---->
              <div class="product-box">
                  <img src="../assets/images/cytomel.jpg"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>CYTOMEL</h1><span>Liothyronine sodium</span><br style="clear:both;" />
                      <p>Promotes extreme fat loss & highly stimulates thermogenesis. Enhance energy levels.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">25 mcg/tablet.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">Orange flat-faced bevel edged tablet imprinted with logo "Z". </td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">100 tablets, packed & sealed in white HDPE plastic bottle.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">25 mcg - 50 mcg/day using a pyramid approach.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->
          </div>
     </div>
         <div id="sub-footer">
 <div class="pagewarp">
    <div class="box-25percent" id="injecton-steroid-menu">
        <ul><h1>Injection steroid</h1>
            <li><a href="/injection">WINNY-100</a></li>
              <li><a href="/injection">TREN A-100</a></li>
              <li><a href="/injection">EQ-300</a></li>
              <li><a href="/injection">DECA-300</a></li>
              <li><a href="/injection">TEST P-100</a></li>
              <li><a href="/injection">SUSTANON-300</a></li>
              <li><a href="/injection">TEST E-300</a></li>
              <li><a href="/injection">PRIMO-100</a></li>
              <li><a href="/injection">MAST P-100</a></li>
              <li><a href="/injection">TREN E-200</a></li>
              <li><a href="/injection">CYP-300</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="oral-steroid-menu">
        <ul><h1>Oral steroid</h1>
            <li><a href="/oral">OXAN-10</a></li>
              <li><a href="/oral">STANO-10</a></li>
              <li><a href="/oral">CLEN-40</a></li>
              <li><a href="/oral">DBOL-10</a></li>
              <li><a href="/oral">OXY-50</a></li>
              <li><a href="/oral">CYTOMEL</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="peptide-menu">
        <ul><h1>Peptide</h1>
            <li><a href="/peptide">HGH</a></li>
              <li><a href="/peptide">GHRP-6</a></li>
              <li><a href="/peptide">IGF-1</a></li>
              <li><a href="/peptide">CJC</a></li>
              <li><a href="/peptide">MGF</a></li>                   
          </ul>
      </div>
      <div class="box-25percent" id="bottom-menu">
        <ul>
            <li ><a class="main-menu" href="/">Home Pages</a></li>
            <li ><a class="main-menu" href="labstest.php">Labs test </a></li>
              <!--<li ><a class="main-menu" href="news.php">News</a></li>-->
              <li ><a class="main-menu" href="/product">Product</a></li>
              <li ><a class="main-menu" href="/#authenticity">Authenticity</a></li>
              <!--<li ><a class="main-menu" href="dealer.php">Dealer</a></li> 
              <li ><a class="main-menu" href="about.php">About us</a></li>    -->
              <li> <a class="main-menu" href="#">contact</a>               
          </ul>
      </div>
  </div>
</div>               <div id="footer"> © Copyright gainzlab.com, 2017</div>        </div></div>