<div id="inner-page">
  <div id="top-nav-res-inner"> 
<img src="../assets/images/gainz-logo-res-inner.jpg" />
<div class="res-btn"><a href="#sub-footer"><img style="float:right; margin:20px 20px 0 0;" src="../assets/images/menu-responsive-btn.jpg" /></a></div>
<ul>
      <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>
      <!--<li><a href="dealer.php">dealer</a></li>-->
     
                     
  </ul>
</div>



  <div class="container-left">
<a href="/"><img src="../assets/images/logo-inner.jpg" /></a>
<ul class="menu-inner">
     <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>
  
     
  </ul>
</div>

  <div class="container-right">
     <div id="top-redline"></div>
     <div id="inner-content">
            <div class="head-subject1">
              <h1>Injection Steroid</h1>
             
          <ul class="kind-steroid">
            <li><a href="/injection">injection Steroid</a></li>
              <li class="seperation">|</li>
              <li><a href="/oral">Oral Steroid</a></li>
              <li class="seperation">|</li>
              <li><a href="/peptide">Peptide</a></li>
          </ul>
             </div>
          <div class="content-box">
              <div class="product-teaser-box">
      <a href="/injection"><img src="../assets/images/injection-teaser.jpg"></a>
      <h1>Injection</h1>
      <a class="to-product" href="/injection">read more</a>
    </div>
    <div class="product-teaser-box">
      <a href="/oral"><img src="../assets/images/oral-teaser.jpg"></a>
      <h1>Oral</h1>
      <a class="to-product" href="/oral">read more</a>
    </div>
    <div class="product-teaser-box">
      <a href="/peptide"><img src="../assets/images/peptide-teaser.jpg"></a>
      <h1>Peptide</h1>
      <a class="to-product" href="/peptide">read more</a>
</div>                </div>
     </div>
         <div id="sub-footer">
 <div class="pagewarp">
    <div class="box-25percent" id="injecton-steroid-menu">
        <ul><h1>Injection steroid</h1>
            <li><a href="/injection">WINNY-100</a></li>
              <li><a href="/injection">TREN A-100</a></li>
              <li><a href="/injection">EQ-300</a></li>
              <li><a href="/injection">DECA-300</a></li>
              <li><a href="/injection">TEST P-100</a></li>
              <li><a href="/injection">SUSTANON-300</a></li>
              <li><a href="/injection">TEST E-300</a></li>
              <li><a href="/injection">PRIMO-100</a></li>
              <li><a href="/injection">MAST P-100</a></li>
              <li><a href="/injection">TREN E-200</a></li>
              <li><a href="/injection">CYP-300</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="oral-steroid-menu">
        <ul><h1>Oral steroid</h1>
            <li><a href="/oral">OXAN-10</a></li>
              <li><a href="/oral">STANO-10</a></li>
              <li><a href="/oral">CLEN-40</a></li>
              <li><a href="/oral">DBOL-10</a></li>
              <li><a href="/oral">OXY-50</a></li>
              <li><a href="/oral">CYTOMEL</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="peptide-menu">
        <ul><h1>Peptide</h1>
            <li><a href="/peptide">HGH</a></li>
              <li><a href="/peptide">GHRP-6</a></li>
              <li><a href="/peptide">IGF-1</a></li>
              <li><a href="/peptide">CJC</a></li>
              <li><a href="/peptide">MGF</a></li>                   
          </ul>
      </div>
      <div class="box-25percent" id="bottom-menu">
        <ul>
            <li ><a class="main-menu" href="/">Home Pages</a></li>
            <li ><a class="main-menu" href="labstest.php">Labs test </a></li>
              <!--<li ><a class="main-menu" href="news.php">News</a></li>-->
              <li ><a class="main-menu" href="/product">Product</a></li>
              <li ><a class="main-menu" href="/#authenticity">Authenticity</a></li>
              <!--<li ><a class="main-menu" href="dealer.php">Dealer</a></li> 
              <li ><a class="main-menu" href="about.php">About us</a></li>    -->
              <li> <a class="main-menu" href="#">contact</a>               
          </ul>
      </div>
  </div>
</div>               <div id="footer"> © Copyright gainzlab.com, 2017</div>        </div> </div>